.content {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.pure-form input[disabled], .pure-form select[disabled] {
    color: #777;
}

fieldset.createPipeline__fieldset--stages {
    padding: 1em 1em 1em 0;
}

div.export {
    text-align: right;
}

.disable_a_href {
    pointer-events: none;
}
