span.form-error {
    padding:10px;
    margin: 10px 10px 0;
    border: 1px solid #FFF;
    display: inline-block;
}

span.form-error svg {
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
}

span.form-error.success-message {
    color:#3E933A;
    background:#E2F7D8;
    border-color:#9FDE9C;
}

span.form-error.notice-message {
    color:#CCBD00;
    background:#FFF8D7;
    border-color:#F1E988;
}

span.form-error.error-message {
    color: #DA1D1D;
    background: #FFDFDF;
    border-color: #FFBBBB;
}

.pure-form-aligned .pure-control-subgroup {
    margin: 1.5em 0 0 10em;
}

.pure-form-aligned .pure-control-subgroup label {
    text-align: left;
    display: block;
    width: auto;
}

.pure-button-primary svg {
    fill: #ffffff;
}

.copyToClipboard__button svg {
    vertical-align: text-top;
    width: 16px;
    height: 16px;
}