<div class="content">

	<h1 class="heading-page">{{(pipeline.name || 'View Pipeline') | titleCase}}</h1>

    <form class="pure-form pure-form-aligned" data-ng-init="readonly = true">

        <ng-include src="'views/pipeline/readOnlyPipelineFields.html'"></ng-include>

        <fieldset>
            <ng-include src="'views/pipeline/pipelineForm.html'"></ng-include>
        </fieldset>

        <div class="pure-controls">
            <a href="#/pipeline/list" class="pipelineConfiguration__input pipelineConfiguration__input--back pure-button pure-button-primary">Back</a>
        </div>
    </form>
</div>